.hero {
  // height: 600px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero__bg{
  width: 100%;
  height: 100%;
  background: url('./../img/content/portfolio.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  width: 100%;
  text-align: center;
  @include centered(y);
}

.hero__user-block {
  @include centered();
}

.hero__bg{
  position: absolute;
}