extends ../main.layout.pug
block title
  | Blog
block content
  section.section.hero
      
      .hero__bg
        img(src="./img/content/portfolio.jpg", alt="").hero__bg-img

      header.header
        .header-left
          ul.socials
            each item in ['vk', 'github', 'in']
              li.socials__item
                a(href="" class=`socials__link socials__link_${item}`)
                  +icon(item, `socials__icon socials__icon-${item}`)
        .header-right
          .hamburger
            a(href="").hamburger__link
              +icon('hamburger', 'hamburger__icon')