extends ../main.layout.pug
block title
  | Blog
block content
  
  section.section.hero
    
    include ../blocks/hero.pug
    
    .hero__title
      img(src="./img/about/header/portfolio-header.png", alt="").section-title
      .user.hero__user-block
        .user__photo
          .user__photo-avatar
            img(src="./img/content/doge.jpg", alt="")
        +title('Блог', 'blog_header.png', 'user__name')
        .user__desc
          | Статьи, которые я написал
        
    +triangle('white', 'beige')